{% extends "layout.html" %}
{% block body %}
	<dt>Card number:
	<dd></dd><label for="amount">{{card.card_number}}</label>
	<dt>Money amount:
	<dd></dd><label for="amount">{{card.amount}}</label>
	<dt>Date:
	<dd></dd><label for="date">{{current_date}}</label>
	<a href="{{ url_for('main.menu') }}" class="btn btn-default">Back</a>
	<a href="{{ url_for('main.login') }}" class="btn btn-default">Exit</a>
{% endblock%}