<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<link rel="stylesheet" href="/static/css/bootstrap.css">
    	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    </head>
    <body>
        <div class="row">
            <div class="span4 offset6" style="border: 1px solid #ccc; padding-left: 10px;padding-top: 10px;padding-bottom: 20px;">
                {% block body %}
                {% endblock%}
            </div>
        </div>
    </body>
</html>