
{% extends "layout.html" %}

{% block body %}
<form action="" method=post>
    <dt>Enter credit card number:
    <dd><input type="text" name=creditcard id=cred maxlength = "19">
    <dd><input class="btn btn-default" type="submit" value="Enter">
    <input class="btn btn-default" type="reset" value="Reset">
</form>

<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    $('#cred').keyup(function()
    {
        $(this).val(function(i, v)
        {
            var v = v.replace(/[^\d]/g, '').match(/.{1,4}/g);
            return v ? v.join('-') : '';
        });
    });
</script>
{% endblock %}