{% extends "layout.html" %}
{% block body %}
<a href="{{ url_for('main.balance') }}" class="btn btn-default">Balance</a>
<br>
<a href="{{ url_for('main.get_money') }}" class="btn btn-default">Get money</a>
<br>
<a href="{{ url_for('main.login') }}" class="btn btn-default">Exit</a>
{% endblock%}