
{% extends "layout.html" %}
{% block body %}
<form action="" method=post>
    <dt>Enter sum:
    <dd><input type="number" name="money" min="10.00" step="10.00" max="2500">
    <dd><input class="btn btn-default" type="submit" value="Enter">
	<input  class="btn btn-default" type="reset" value="Reset">
</form>
<a href="{{ url_for('main.menu') }}" class="btn btn-default">Back</a>
<a href="{{ url_for('main.login') }}" class="btn btn-default">Exit</a>
{% endblock%}