{% extends "layout.html" %}
{% block body %}
	<dt>Card number:
	<label for="amount">{{card.card_number}}</label>
	<dt>You've got sum:
	<dd><label for="amount">{{money}}</label>
	<dt>Money amount left:
	<dd><label for="date">{{card.amount}}</label>
	<dt>Date:
	<dd><label for="date">{{current_date}}</label>
	<br>
	<a href="{{ url_for('main.get_money') }}" class="btn btn-default">Back</a>
	<a href="{{ url_for('main.login') }}" class="btn btn-default">Exit</a>
{% endblock%}