
{% extends "layout.html" %}
{% block body %}
<form action="" method=post>
    <dt>Enter pin:
    <dd><input type="password" name=pin  id=pin maxlength="4" pattern="[0-9]*" 
    	oninvalid="setCustomValidity('Please use only numbers')"
    	onchange="try{setCustomValidity('')}catch(e){}"/>
    <dd><input class="btn btn-default" type="submit" value="Enter">
	<input type="reset" value="Reset">
</form>

<a href="{{ url_for('main.login') }}" class="btn btn-default">Exit</a>

<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    $('#pin').keyup(function()
    {
        $(this).val(function(i, v)
        {
            var v = v.replace(/[^\d]/g, '');
            return v ? v : '';
        });
    });
</script>
{% endblock%}